/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    max-width: 100%;
    background: red;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    background: green;
    max-width: 100%;
    height: 60px;
    list-style-type: none;
}