/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Patua One', cursive;
}

.navigation {
    max-width: 100%;
    background: red;
    height: 12vh;
}

nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    list-style-type: none;
    padding: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.navigation input {
    height: 3rem;
    width: 20rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 3rem;
}
